// paths
$path-common-base: '/files/themes/common';
$path-common-css: '#{$path-common-base}/css';
$path-common-img: '#{$path-common-base}/img';
$path-common-font: '#{$path-common-base}/font';
$path-common-vendor: '#{$path-common-base}/vendor';