@mixin make-xl-col($size) {
  @include media-breakpoint-only(xl) {
    @include make-col-ready();
    @include make-col($size);
  }
}

@mixin make-lg-col($size) {
  @include media-breakpoint-only(lg) {
    @include make-col-ready();
    @include make-col($size);
  }
}

@mixin make-md-col($size) {
  @include media-breakpoint-only(md) {
    @include make-col-ready();
    @include make-col($size);
  }
}

@mixin make-sm-col($size) {
  @include media-breakpoint-only(sm) {
    @include make-col-ready();
    @include make-col($size);
  }
}

@mixin make-xs-col($size) {
  @include media-breakpoint-only(xs) {
    @include make-col-ready();
    @include make-col($size);
  }
}

@mixin col($size) {
  @include make-col-ready();
  @include make-col($size);
}

@mixin make-col-right-offset($size, $columns: $grid-columns) {
  margin-right: percentage($size / $columns);
}

/** breakpoint shortcuts **/
@mixin xl {
  //@include media-breakpoint-only(xl) {
  //  @content;
  //}

  @media (min-width: (map_get($grid-breakpoints, xl) - 1)) {
    @content;
  }
}

@mixin xl-down {
  @include media-breakpoint-down(xl) {
    @content;
  }
}

@mixin lg {
  @include media-breakpoint-only(lg) {
    @content;
  }
}

@mixin lg-up {
  @include media-breakpoint-up(lg) {
    @content;
  }
}

@mixin lg-down {
  @include media-breakpoint-down(lg) {
    @content;
  }
}

@mixin md {
  @include media-breakpoint-only(md) {
    @content;
  }
}

@mixin md-up {
  @include media-breakpoint-up(md) {
    @content;
  }
}

@mixin md-down {
  @include media-breakpoint-down(md) {
    @content;
  }
}

@mixin sm {
  @include media-breakpoint-only(sm) {
    @content;
  }
}

@mixin sm-up {
  @include media-breakpoint-up(sm) {
    @content;
  }
}

@mixin sm-down {
  @include media-breakpoint-down(sm) {
    @content;
  }
}

@mixin xs {
  //@include media-breakpoint-down(xs) {
  //  @content;
  //}

  @media (max-width: (map_get($grid-breakpoints, sm) - 1)) {
    @content;
  }
}

@mixin xs-up {
  @include media-breakpoint-up(xs) {
    @content;
  }
}

/* Make custom row with custom gutter widths, use something like
 $grid-gutter-widths-sm: (
    xs: 10px,
    sm: 10px,
    md: 10px,
    lg: 10px,
xl: 10px
) !default;

for $gutters variables
*/
@mixin make-custom-row($gutters: null) {
  display: flex;
  flex-wrap: wrap;

  @if $gutters {
    @each $breakpoint in map-keys($gutters) {
      @include media-breakpoint-up($breakpoint) {
        $gutter: map-get($gutters, $breakpoint);
        margin-right: ($gutter / -2);
        margin-left: ($gutter / -2);
      }
    }
  }
}

@mixin make-custom-col-ready($gutters: null) {
  position: relative;
  // Prevent columns from becoming too narrow when at smaller grid tiers by
  // always setting `width: 100%;`. This works because we use `flex` values
  // later on to override this initial width.
  width: 100%;
  min-height: 1px; // Prevent collapsing

  @if $gutters {
    @each $breakpoint in map-keys($gutters) {
      @include media-breakpoint-up($breakpoint) {
        $gutter: map-get($gutters, $breakpoint);
        padding-right: ($gutter / 2);
        padding-left: ($gutter / 2);
      }
    }
  }
}

@mixin col-full {
  width: 100vw;
  max-width: unset;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}