@mixin form-control-sm() {
  height: $input-height-sm;
  padding: $input-padding-y-sm $input-padding-x-sm;
  font-size: $font-size-sm;
  line-height: $line-height-sm;

  @if $enable-rounded {
    border-radius: $input-border-radius-sm;
  } @else {
    border-radius: 0;
  }

  .input-group & {
    &:not(:last-child) {
      @include border-end-radius(0);
    }
  }

  .input-group & {
    &:not(:first-child) {
      @include border-start-radius(0);
    }
  }
}

@mixin form-control-lg() {
  height: $input-height-lg;
  padding: $input-padding-y-lg $input-padding-x-lg;
  font-size: $font-size-lg;
  line-height: $line-height-lg;

  @if $enable-rounded {
    border-radius: $input-border-radius-lg;
  } @else {
    border-radius: 0;
  }

  .input-group & {
    &:not(:last-child) {
      @include border-end-radius(0);
    }
  }

  .input-group & {
    &:not(:first-child) {
      @include border-start-radius(0);
    }
  }
}

@mixin form-control-base() {
  height: $input-height;
  padding: $input-padding-y $input-padding-x;
  font-size: $font-size-base;
  line-height: $input-line-height;

  @if $enable-rounded {
    border-radius: $input-border-radius;
  } @else {
    border-radius: 0;
  }

  .input-group & {
    &:not(:last-child) {
      @include border-end-radius(0);
    }
  }

  .input-group & {
    &:not(:first-child) {
      @include border-start-radius(0);
    }
  }
}


@mixin form-multi-column($count: 6, $breakpoint: sm, $fullColFields: [], $submitBtnAlign: right) {
  .formbody {
    textarea {
      height: auto !important;
    }

    @include media-breakpoint-up($breakpoint) {
      @include make-row();

      .form-group {
        @include col($count);

        @each $field in $fullColFields {
          &.#{$field} {
            @include col(12);
          }
        }

        &.widget-submit {
          @include col(12);
          text-align: $submitBtnAlign;
        }
      }

      [id^="sub_"] {
        @include col(12);

        .subpalette-body {
          @include make-row();
        }
      }
    }
  }
}
