@mixin font-face(
  $font-family,
  $file-path,
  $file-formats: ttf woff2 woff,
  $asset-pipeline: false
) {
  @font-face {
    font-family: $font-family;
    src: _font-source-declaration(
        $font-family,
        $file-path,
        $asset-pipeline,
        $file-formats
    );
    @content;
  }
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  @warn "Deprecated, use rfs() bootstrap mixin instead, will be removed with version 5.";

  $enable-responsive-font-sizes: true;
  @include rfs($max-font-size);
}

@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin multiline-ellipsis($line-count: 3, $padding-bottom: 2px) {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line-count;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-bottom: $padding-bottom;
}

@mixin headline-styles($level) {
  $headline-var-map: (
    1: $h1-font-size,
    2: $h2-font-size,
    3: $h3-font-size,
    4: $h4-font-size,
    5: $h5-font-size,
    6: $h6-font-size,
  );
  [class*="ce_"], [class*="mod_"] {
    &.has-h#{$level}-style {
      h1, h2, h3, h4, h5, h6 {
        &:first-of-type {
          @extend %heading;
          @include font-size(map-get($headline-var-map, $level));
          @content;
        }
      }
    }
  }
  h1, h2, h3, h4, h5, h6 {
    &.has-h#{$level}-style {
      @extend %heading;
      @include font-size(map-get($headline-var-map, $level));
      @content;
    }
  }
  h#{$level}, .h#{$level} {
    @content;
  }
}