@mixin font-face(
  $font-family,
  $file-path,
  $file-formats: ttf woff2 woff,
  $asset-pipeline: false
) {
  @font-face {
    font-family: $font-family;
    src: _font-source-declaration(
        $font-family,
        $file-path,
        $asset-pipeline,
        $file-formats
    );
    @content;
  }
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  @warn "Deprecated, use rfs() bootstrap mixin instead, will be removed with version 5.";

  $enable-responsive-font-sizes: true;
  @include rfs($max-font-size);
}