.badge{
	&.badge-primary{
		background-color: theme-color-level("primary", -10);;
	}

	&.badge-success{
		background-color: theme-color-level("success", -10);;
	}

	&.badge-info{
		background-color: theme-color-level("info", -10);;
	}

	&.badge-warning{
		background-color: theme-color-level("warning", -10);;
	}

	&.badge-danger{
		background-color: theme-color-level("danger", -10);
	}
}