[class*="btn"]:not(.btn-select) {
	@include transition-ease();

  &::before {
    @include transition-ease();
  }
}

@mixin clear-btn {
    background: none;
    padding: 0;
    color: $brand-primary;
    border: none;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

@debug $infix;

    .btn#{$infix}-base {
      @include btn-base();
    }

    .btn#{$infix}-sm {
      @include btn-sm();
    }

    .btn#{$infix}-lg {
      @include btn-lg();
    }
  }
}