.touchevents {
  .flatpickr-input:not(.flatpickr-mobile) {
    display: none;
  }

  .flatpickr-mobile {
    @extend .form-control;
    min-height: 42px;

    @include md-down {
      min-height: 38px;
    }

    &::before {
      float:left;
      margin-top: 5px;
      margin-right: 7px;
    }

    &.datepicker {
      &::before {
        @include fa-icon();
        content: $fa-var-calendar;
      }
    }

    &.timepicker {
      &::before {
        @include fa-icon();
        content: $fa-var-clock-o;
      }
    }
  }
}

.flatpickr-calendar {
  @include flatpickr();
}