.swal-modal {
  animation: none !important;
  border-radius: 0;

  [name="save-setting"] {
    margin-top: 10px;
  }

  .swal-button {
    border-radius: 0;
    @extend .btn;
    outline: none !important;
    box-shadow: none !important;
  }

  .swal-button--cancel {
    @include button-variant(white, white);
  }

  .swal-button--confirm {
    @include button-variant($primary, $primary);
  }
}

.swal-overlay {
  z-index: 10001;
}

.swal2-container {
  z-index: 10001 !important;
}

.swal2-modal {
  border-radius: 0 !important;

  .swal2-close {
    &,
    &:hover {
      color: $body-color;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .swal2-icon {
    &.swal2-success {
      border-color: $success;
      color: $success;

      [class^="swal2-success-line"] {
        background-color: $success;
      }

      .swal2-success-ring {
        border-color: $success;
      }
    }

    &.swal2-error {
      border-color: $danger;
      color: $danger;

      [class^="swal2-x-mark-line"],
      .swal2-success-ring {
        background-color: $danger;
      }

      .swal2-error-ring {
        border-color: $danger;
      }
    }
  }
}
