#main {
  a:not(.btn):not(.more) {
    text-decoration: underline;
  }

  .more a, .pagination a, .btn a {
    text-decoration: none !important;
  }
}

.primary {
  color: map-get($theme-colors, primary);
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[class*="ce_"], [class*="mod_"] {
  &.h1 {
    h1, h2, h3, h4, h5, h6 {
      &:first-of-type {
        @extend .h1;
      }
    }
  }

  &.h2 {
    h1, h2, h3, h4, h5, h6 {
      &:first-of-type {
        @extend .h2;
      }
    }
  }

  &.h3 {
    h1, h2, h3, h4, h5, h6 {
      &:first-of-type {
        @extend .h3;
      }
    }
  }

  &.h4 {
    h1, h2, h3, h4, h5, h6 {
      &:first-of-type {
        @extend .h4;
      }
    }
  }

  &.h5 {
    h1, h2, h3, h4, h5, h6 {
      &:first-of-type {
        @extend .h5;
      }
    }
  }

  &.h6 {
    h1, h2, h3, h4, h5, h6 {
      &:first-of-type {
        @extend .h6;
      }
    }
  }
}
