a {
  &:hover, &:focus, &.btn {
    text-decoration: none;
  }
}

.pagination {
  a {
    text-decoration: none;
    &.btn {
      text-decoration: none;
    }
  }
}

#main {
  a {
    text-decoration: underline;
  }
}

.primary {
  color: map-get($theme-colors, primary);
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
