#main {
  a:not(.btn):not(.more) {
    text-decoration: underline;
  }

  .more a, .pagination a, .btn a {
    text-decoration: none !important;
  }
}

.primary {
  color: map-get($theme-colors, primary);
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}